.footer {
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: #717f8a; 
    color: white;
  }

p {
    margin: 0;
}

.logoSize {
    height: 20px;
    width: 20px;
}

.link {
      font-weight: bold;
      color: white;
  }

a {
  padding-right: 0.5rem;
}