html, body, #root, .App{
  height: 100%;
  margin: 0;
}
/* div{
  border: 1px solid;
} */

.App {
  display: grid;
}

@media only screen and (min-width: 800px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 15% auto 10%;
  }
  .main{ grid-template-columns: 25% auto 25% }
}

@media only screen and (max-width: 800px) {
  .App { grid-template-rows: 15% auto 10%; }
}

.main{
  display: grid;
}

.left{
  display: grid;
  align-items: start;
  justify-items: center;
}

.right{
  display: grid;
  align-items: start;
  justify-items: center;
}

.center{
  display: grid;
}

.progress-bar-container{
  display: grid;
  grid-template-columns: 15% auto 15%;
  width: 100%;
  align-self: start;
  text-align: center;
}

.amount{
  font-size: 25pt;
  font-weight: 400; 
  padding-top: 10px; 
}

.header{
  display: flex;
  position: relative;
  align-items: center;
}

.logo {
  width: 115px;
  margin: 20px;
}

.title{
  font-weight: 700;
  font-size: 20px;
  color: #666666;
}

.empty-row {
  flex-grow: 1;
}

.remarks {
  text-align: center;
}

.results {
  text-align: center;
}

